<%- include("../includes/head.ejs") %>
    </head>

    <body>
        <header class="main-header">
            <%- include("../includes/navigation.ejs") %>
            <main>
                <h1>Nothing there.</h1>
            </main>
            <%- include("../includes/end.ejs") %>